<footer class="footer">
  <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
  <span>{{ site.footerText }}</span>
  <span>Produced By</span>
  <a href="https://opticcss.github.io/">Opticscss</a>
  <!-- 底部加了小鱼<・)))><<~ -->
  <!--<div id="jsi-flying-fish-container" class="container"></div>
  <script type="text/javascript" src="{{site.baseurl}}/static/js/little_fish.js?t={{ buildAt }}"></script>-->
  <style>
    @media only screen and (max-width: 767px){
      #sidebar_search_box input[type=text]{width:calc(100% - 24px)}
    }
  </style>
</footer>
<div id="to-top">
  <span></span>
  <span></span>
</div>
