{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<script type="text/javascript" src="{{site.baseurl}}/static/js/blog.js?t={{ buildAt }}"></script>
<script type="text/javascript" src="{{site.baseurl}}/static/js/search.js?t={{ buildAt }}"></script>
<script language="javascript">
	// customize script with page closing
	function custom_close(){
		if(confirm("Make Sure to Reload This Page.")){
			window.opener=null;
			window.open(' ','_self');
			window.close();
		}
		else{
		}
	}
</script>
{%- if site.extMath and page.layout=="optics_post" -%}
{% include ext-mathjax.html %}
{% endif %}
