<!DOCTYPE html>
<html>
{% include head.html -%}
<body ondragstart="return false;">
			<ul class="grid">
				<li class="three">
					<ul class="sidenav">
						<li><a href="https://github.com/Opticcss/Opticcss.github.io"><i class="fa fa-star"></i><span class="w"><b>Star Me</b></span></a></li>
						<li><a href="https://github.com/Opticcss/Opticcss.github.io/pulse">
							<svg class="octicon octicon-graph UnderlineNav-octicon d-none d-sm-inline" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M1.5 1.75a.75.75 0 00-1.5 0v12.5c0 .414.336.75.75.75h14.5a.75.75 0 000-1.5H1.5V1.75zm14.28 2.53a.75.75 0 00-1.06-1.06L10 7.94 7.53 5.47a.75.75 0 00-1.06 0L3.22 8.72a.75.75 0 001.06 1.06L7 7.06l2.47 2.47a.75.75 0 001.06 0l5.25-5.25z"></path></svg>
							<span class="w"><b>Insights</b></span></a></li>
						<li><a href="https://github.com/Opticcss/Opticcss.github.io/pulls">
							<svg class="octicon octicon-git-pull-request UnderlineNav-octicon d-none d-sm-inline" viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true"><path fill-rule="evenodd" d="M7.177 3.073L9.573.677A.25.25 0 0110 .854v4.792a.25.25 0 01-.427.177L7.177 3.427a.25.25 0 010-.354zM3.75 2.5a.75.75 0 100 1.5.75.75 0 000-1.5zm-2.25.75a2.25 2.25 0 113 2.122v5.256a2.251 2.251 0 11-1.5 0V5.372A2.25 2.25 0 011.5 3.25zM11 2.5h-1V4h1a1 1 0 011 1v5.628a2.251 2.251 0 101.5 0V5A2.5 2.5 0 0011 2.5zm1 10.25a.75.75 0 111.5 0 .75.75 0 01-1.5 0zM3.75 12a.75.75 0 100 1.5.75.75 0 000-1.5z"></path></svg>
							<span class="w"><b>Pulls</b></span></a></li>
						<li><a href="mailto:optics_css@foxmail.com"><i class="fa fa-envelope" aria-hidden="true"></i><span class="w"><b>Mail</b></span></a></li>
						<li><a href="mailto:opticscss@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="w"><b>GMail</b></span></a></li>
						<li onClick="custom_close()"><a><i class="fa fa-refresh" aria-hidden="true"></i><span class="w"><b>Reload</b></span></a></li>
					</ul>
					<div class="sectionimg"></div>
					<section>
{% include header.html -%}
{{ content }}
{% include footer.html -%}
{% include script.html -%}
					</section>
				</li>
			</ul>
</body>
</html>