<!DOCTYPE html>
<html>
{% include head.html -%}
<body ondragstart="return false;">
			<ul class="grid">
				<li class="three">
					<ul class="sidenav">
						<li><a href="https://github.com/Opticcss/Opticcss.github.io"><i class="fa fa-star"></i><span class="w"><b>Star Me</b></span></a></li>
						<li><a href="https://github.com/Opticcss/Opticcss.github.io/graphs/contributors"><i class="fa fa-line-chart" aria-hidden="true"></i><span class="w"><b>Insights</b></span></a></li>
						<li><a href="mailto:optics_css@foxmail.com"><i class="fa fa-envelope" aria-hidden="true"></i><span class="w"><b>FoxMail</b></span></a></li>
						<li><a href="mailto:opticscss@gmail.com"><i class="fa fa-google-plus" aria-hidden="true"></i><span class="w"><b>GMail</b></span></a></li>
						<li onClick="custom_close()"><a herf=""><i class="fa fa-refresh" aria-hidden="true"></i><span class="w"><b>Reload</b></span></a></li>
					</ul>
					<div class="sectionimg"></div>
					<section>
{% include header.html -%}
{{ content }}
{% include footer.html -%}
{% include script.html -%}
					</section>
				</li>
			</ul>
</body>
</html>